.item {
  text-align: center;
  border: 1px solid #fcd500;
  border-radius: 15px;
  height: 280px;
  width: 250px;
  margin: 30px 15px;
}

@media (max-width: 565px) {
  .item {
    width: 100%;
  }
}

.item-header {
  background: #fcd500;
  color: #fff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 8px 0;
}

.item:hover {
  box-shadow: 2px 2px 9px 2px #ddd;
}

.item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: calc(100% - 48px);
}

.item-figure img {
  height: 150px;
  width: 150px;
}

.item-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.item-footer input {
  height: 34px;
  font-size: 22px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  outline: none;
}