.footer-container {
  display: flex;
  justify-content: flex-end;
  background: #fcd500;
  height: 80px;
  position: fixed;
  bottom: 0;
  width: 100%;
  align-items: center;
}

.footer-cart {
  font-size: 60px;
  margin: 0 30px;
}