.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.bg-danger,
.bg-info {
  padding: 15px;
  margin-bottom: 20px;
}

.footer-btn {
  margin-top: 50px;
}

@media (max-width: 400px) {
  .form-inline .footer-btn {
    width: 100%;
  }
}
