.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.head-container {
  margin-bottom: 40px;
}

.form-inline {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.bg-danger, .bg-info {
  padding: 15px;
  margin-bottom: 20px;
}

.submit-btn {
  margin-left: 5px;
}

.footer-btn {
  margin-top: 50px;
}