.items-list {
  margin: 30px;
}

.item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 15px;
  height: 250px;
  width: 250px;
  box-shadow: 2px 2px 9px 2px #ddd;
}

.item-title {

}

.item-value {

}

.item-figure {

}

.item-figure img {
  height: 150px;
  width: 150px;
}

.btn-plus {
  font-size: 35px;
  color: green;
  cursor: pointer;
}

.btn-minus {
  font-size: 35px;
  color: red;
  cursor: pointer;
}

.item-footer {
  display: flex;
  align-items: center;
}

.item-footer input {
  height: 34px;
  font-size: 22px;
  width: 100px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  outline: none;
}