.header-container {
  background: #000;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  color: #fcd500;
}

.header-left {
  color: #fff;
  font-size: 55px;
}

.header-right {
  display: flex;
}

.marker {
  font-size: 30px;
  margin: 0 15px;
  cursor: pointer;
}
