.header {
  font-weight: bold;
  text-align: center;
}

.header.h1 {
  font-size: 40px;
}

.header.h2 {
  font-size: 35px;
}

.header.h3 {
  font-size: 30px;
}

.header.h4 {
  font-size: 25px;
}

.header.h5 {
  font-size: 20px;
}